# Lesson I 

## Introduction to Relational Databases

**What is a relational database?**

* Based on relational model of data
* First described by Edgar "Ted" Codd

The Northwind Traders database, a synthetic database that contains sales data for a fictitious company. Firstly, database consists of tables. 

<img src='pictures/NorthwindDatabase.jpg' />

Here we can see 3 tables from the Northwind database:

* Orders
* Customers
* Employees

So what's a table? A table generally reprsents one entity type, such as **'Order'**. This table looks a great deal like a dataframe and that's the point.

In relational databases you do not merely have a bunch of tables, but that tables are **linked**. See that the **'Orders'** table has both column called ```'CustomerID'``` and ```'EmployeeeID'```. These columns correspond precisely to the primary keys in the **'Customers'** and **'Employees'** tables, respectively.

### Relational mode

* Widely adopted

* Codd's 12 Rules/Commandments
    - Consists of 13 rules (zero-indexed)
    - Describes what a Relational Database Management System should adhere to to be considered Relational.

### Relational Database management Systems

* PostreSQL
* MySQL
* SQLite
* SQL = "Structured Query Language"

# Lesson II

## Creating a database engine in Python

Before we get data out of our databases using SQL, we're going to need to figure out how to connect to a database.

There are times when you would prefer to use PostgreSQL or MySQL, but for our purposes here, a SQLite is perfect.

* SQLite database
    - Fast and simple

There are many packages we could use to access an SQLite database such as sqlite3 and SQLAlchemy. We'll use SQLAlchemy as it works with many other Relational Database Management Systems, such as Postgres and MySQL.

* SQLAlchemy
    - Works with many Relational Database Management Systems

To connect to ```'Northwind.sqlite'```:
* we need to import the relevant function ```create_engine()``` from the package ```SQLAlchemy```.
* We then use the function ```create_engine()``` to fire up an SQL engine that will communicate our queries to the database.
* The only required argument of ```create_engine()``` is a *string* that indicates the *type* of database you're conntecting to and the *name* of the database.

```python
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Northwind.sqlite')
```

We would like to know the names of the tables database contains. To do this:
* apply the method ```table_names``` to the *object* engine
* This will returna *list* of table names that we can print to the console.

```python
table_names = engine.table_names()
print(table_names)
```

# Exercise

## Creating a database engine

Here, you're going to fire up your very first SQL engine. You'll create an engine to connect to the SQLite database ```'Chinook.sqlite'```, which is in your working directory. Remember that to create an engine to connect to ```'Northwind.sqlite'```, Hugo executed the command:

```python
engine = create_engine('sqlite:///Northwind.sqlite')
```
Here, ```'sqlite:///Northwind.sqlite'``` is called the **connection string** to the SQLite database ```Northwind.sqlite```. A little bit of background on the [Chinook database](https://github.com/lerocha/chinook-database): the Chinook database contains information about a semi-fictional digital media store in which media data is real and customer, employee and sales data has been manually created.

Why the name Chinook, you ask? According to their [website](https://github.com/lerocha/chinook-database),

> The name of this sample database was based on the Northwind database. Chinooks are winds in the interior West of North America, where the Canadian Prairies and Great Plains meet various mountain ranges. Chinooks are most prevalent over southern Alberta in Canada. Chinook is a good name choice for a database that intends to be an alternative to Northwind.

In [1]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

## What are the tables in the database?

In this exercise, you'll once again create an engine to connect to ```'Chinook.sqlite'```. Before you can get any data out of the database, however, you'll need to know what tables it contains!

To this end, you'll save the table names to a list using the method ```table_names()``` on the engine and then you will print the list.

In [3]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///datasets/Chinook.sqlite')

# Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

C:\Users\devil\AppData\Local\Temp\ipykernel_2396\827030650.py:8: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

# Lesson III

## Querying relational databases in Python

It's time to connect to the engine and query the database. The term, **"querying"** is just a fancy way of saying getting data out from the database.

### Basic SQL query

The ```HELLO WORLD!``` of SQL qeueries is ```"SELECT * FROM Table_name"```, where ```'Table_name'``` is the name of any of the tables in the database.

* This query returns all columns of all rows of the table of interest.

Example: From the ```'Northwind.sqlite'``` :

```python
SELECT * FROM Orders
```

Will return all of the rows from the column ```'Orders'```

* We'll also use SQLAlchemy and pandas

### Workflow of SQL querying

* Import packages and functions
* Create the database engine
* Connect to the engine
* Query the database
* Save query results to a DataFrame
* Close the connection

Let's now check out how to do each of these steps!

```python
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM Orders")
df = pd.DataFrame(rs.fetchall())
con.close()
```

You can then print the head of the dataframe, as we have done before, as a sanity check:

```python
print(df.head())
```

Result of this, will be all of the rows look good but the columns names aren't correct. To fix this, before closing the connection, we can set the dataframe's columns names by executing ```df.columns = rs.keys```

```python
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM Orders")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys() # This will fixed the column names
con.close()
```

We can also use the context manager construct to open a connection, which will save us the trouble of closing the connection later, or save the trouble of forgetting to close it!

```python
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
```

```python
with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders") # We import those specific columns from the database
    df = pd.DataFrame(rs.fetchmany(size=5)) # we will only query 5 rows from database
    df.columns = rs.keys()
```

# Exercise 

## The Hello World of SQL queries

Now, it's time for liftoff! In this exercise, you'll perform the Hello World of SQL queries, ```SELECT```, in order to retrieve all columns of the table ```Album``` in the Chinook database. Recall that the query ```SELECT *``` selects all columns.

In [4]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine : engine
engine = create_engine('sqlite:///datasets/Chinook.sqlite')

# Open engine connection : con
con = engine.connect()

# Perform query : rs
rs = con.execute("SELECT * FROM Album")

# Save results of the query to DataFrame : df
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

## Customizing the Hello World of SQL Queries

Congratulations on executing your first SQL query! Now you're going to figure out how to customize your query in order to:

* Select specified columns from a table;
* Select a specified number of rows;
* Import column names from the database table.

Recall that Hugo performed a very similar query customization in the video:

```python
engine = create_engine('sqlite:///Northwind.sqlite')

with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()
```

Packages have already been imported as follows:

```python
from sqlalchemy import create_engine
import pandas as pd
```

The engine has also already been created:

```python
engine = create_engine('sqlite:///Chinook.sqlite')
```

The engine connection is already open with the statement:

```python
with engine.connect() as con:
```

In [5]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT LastName, Title FROM Employee")
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()
    
# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

3
  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent

## Filtering your Database records using SQL'S WHERE

You can now execute a basic SQL query to select records from any table in your database and you can also perform simple query customizations to select particular columns and numbers of rows.

There are a couple more standard SQL query chops that will aid you in your journey to becoming an SQL ninja.

Let's say, for example that you wanted to get all records from the ```Customer``` table of the Chinook database for which the ```Country``` is ```'Canada'```. You can do this very easily in SQL using a ```SELECT``` statement followed by a ```WHERE``` clause as follows:

```python
SELECT * FROM Customer WHERE Country = 'Canada'
```

In fact, you can filter any ```SELECT``` statement by any condition using a ```WHERE``` clause. This is called *filtering* your records.

In this exercise, you'll select all records of the ```Employee``` table for which ```'EmployeeId'``` is **greater than or equal** to ```6```.

Packages are already imported as follows:

```python
import pandas as pd
from sqlalchemy import create_engine
```

In [6]:
# Create engine : engine
engine = create_engine('sqlite:///datasets/Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame : df
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee WHERE EmployeeId >= 6")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    
# Print the head of the DataFrame df
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00

              HireDate                      Address        City State Country  \
0  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com

## Ordering your SQL Recors with ORDER BY

You can also order your SQL query results. For example, if you wanted to get all records from the ```Customer``` table of the Chinook database and order them in increasing order by the column ```SupportRepId```, you could do so with the following query:

```python
"SELECT * FROM Customer ORDER BY SupportRepId"
```
In fact, you can order any ```SELECT``` statement by any column.

In this exercise, you'll select all records of the ```Employee``` table and order them in increasing order by the column ```BirthDate```.

Packages are already imported as follows:

```python
import pandas as pd
from sqlalchemy import create_engine
```

In [7]:
# Create engine : engine
engine = create_engine("sqlite:///datasets/Chinook.sqlite")

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee ORDER BY BirthDate")
    df = pd.DataFrame(rs.fetchall())    
    df.columns = rs.keys()
    
# print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           4      Park  Margaret  Sales Support Agent        2.0
1           2   Edwards     Nancy        Sales Manager        1.0
2           1     Adams    Andrew      General Manager        NaN
3           5   Johnson     Steve  Sales Support Agent        2.0
4           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate              Address        City  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW     Calgary
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW     Calgary
2  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW    Edmonton
3  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave     Calgary
4  1968-01-09 00:00:00  2004-03-04 00:00:00          923 7 ST NW  Lethbridge

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
3    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
4    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0  margaret@chinookcorp.com
1     nancy@chinookcorp.com
2    andrew@chinookcorp.com
3     steve@chinookcorp.com
4     laura@chinookcorp.com

# Lesson IV

## Querying relational databases directly with pandas

After creating a database engine, we can get the results of any particular line using 4 lines of code:
* Connecting
* Executing a query
* Passing the results
* Naming the columns

```python
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Orders")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
```

We can actually do it in 1 line, utilizing the pandas function ```read_sql_query()``` and passing 2 arguments:

* Query you wish to make
* Engine you want to connect to

```python
df = pd.read_sql_query("SELECT * FROM Orders", engine)
```

And thus you can achive the same results by executing single line. The power of pandas!

# Exercise

## Pandas and The Hello World of SQL Queries!

Here, you'll take advantage of the power of ```pandas``` to write the results of your SQL query to a DataFrame in one swift line of Python code!

You'll first import ```pandas``` and create the SQLite ```'Chinook.sqlite'``` engine. Then you'll query the database to select all records from the ```Album``` table.

Recall that to select all records from the ```Orders``` table in the Northwind database, Hugo executed the following command:

```python
df = pd.read_sql_query("SELECT * FROM Orders")
```

In [8]:
# import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine : engine
engine = create_engine('sqlite:///datasets/Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM Album", engine)

# Print head of DataFrame
print(df.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

## Pandas for more complex Querying

Here, you'll become more familiar with the pandas function ```read_sql_query()``` by using it to execute a more complex query: a ```SELECT``` statement followed by both a ```WHERE``` clause AND an ```ORDER BY``` clause.

You'll build a DataFrame that contains the rows of the ```Employee``` table for which the ```EmployeeId``` is **greater than or equal** to ```6``` and you'll order these entries by ```BirthDate```.

In [9]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///datasets/Chinook.sqlite')

# Execute query and store records in DataFrame:df
df = pd.read_sql_query("SELECT * FROM Employee WHERE EmployeeId >= 6 ORDER BY BirthDate", engine)

# Print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00

              HireDate                      Address        City State Country  \
0  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com

# Lesson V

## Advanced Querying: Exploting table relationships

We have become familiar with querying individual tables of databases, such as ```'Orders'``` table of the *Northwind database*. However, that much of the power of relational databases stems from the fact that they can capture relationships between tables: ***the tables are linked!***

As we saw earlier, the ```'Orders'``` table of the the *Northwind Traders database* has both a column called ```'CustomerID'``` and ```'EmployeeID'``` which correspond precisely to the primary keys in the ```'Customers'``` and ```'Employees'``` tables. This means that, given an *Order*, we can immediately look up details of the relevant *Customer* or *Employee* in the appropriate table.

<img src='pictures/tableslinked.jpg' />

### JOINing Tables

Now what if we want to incorporate such information into our query? For example, if we want to query the ```'Orders'``` table and include, for each *Order*, information about the corresponding *Customer* from the ```'Customers'``` table?

<img src='pictures/joiningtable.jpg' />

Let's say that we wanted, for each *Order*, to get the ```OrderID``` and the ```CompanyName``` of the *Customer*. The ```OrderID``` lives in the ```'Orders'``` table while the ```CompanyName``` lives in the ```'Customers'``` table.

*SQL* has a really clever way of doing this: it's called a **JOIN** because what we're really doing is *joining two tables together*, in this case the ```'Orders'``` and ```'Customers'``` tables.

Specifically it's an **INNER JOIN**. As it's the *CustomerID* columns of the ```'Orders'``` and ```'Customers'``` tables that correspond to each, we'll want to **JOIN** the tables **ON** these columns and that is precisely what we have done in this code:

```python
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Northwind.sqlite')
df = pd.read_sql_query("SELECT OrderID, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID", engine)
print(df.head())
```

# Exercise

## The power of SQL lies in relationships between tables: INNER JOIN

Here, you'll perform your first ```INNER JOIN```! You'll be working with your favourite SQLite database, ```Chinook.sqlite```. For each record in the ```Album``` table, you'll extract the ```Title``` along with the ```Name``` of the ```Artist```. The latter will come from the ```Artist``` table and so you will need to ```INNER JOIN``` these two tables on the ```ArtistID``` column of *both*.

Recall that to ```INNER JOIN``` the ```Orders``` and ```Customers``` tables from the Northwind database, Hugo executed the following SQL query:

```python
"SELECT OrderID, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID"
```

The following code has already been executed to import the necessary packages and to create the engine:

```python
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Chinook.sqlite')
```

In [10]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute("SELECT Title, Name FROM Album INNER JOIN Artist on Album.ArtistID = Artist.ArtistID")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    
# Print head of DataFrame df
print(df.head())

                                   Title       Name
0  For Those About To Rock We Salute You      AC/DC
1                      Balls to the Wall     Accept
2                      Restless and Wild     Accept
3                      Let There Be Rock      AC/DC
4                               Big Ones  Aerosmith

## Filtering your INNER JOIN

Congrats on performing your first ```INNER JOIN```! You're now going to finish this chapter with one final exercise in which you perform an ```INNER JOIN``` and *filter* the result using a ```WHERE``` clause.

Recall that to ```INNER JOIN``` the ```Orders``` and ```Customers``` tables from the Northwind database, Hugo executed the following SQL query:

```python
"SELECT OrderID, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID"
```

The following code has already been executed to import the necessary packages and to create the engine:

```python
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Chinook.sqlite')
```

In [12]:
# Execute query and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000",engine)

# Print head of DataFrame
print(df.head())

   PlaylistId  TrackId  TrackId              Name  AlbumId  MediaTypeId  \
0           1     3390     3390  One and the Same      271            2
1           1     3392     3392     Until We Fall      271            2
2           1     3393     3393     Original Fire      271            2
3           1     3394     3394       Broken City      271            2
4           1     3395     3395          Somedays      271            2

   GenreId Composer  Milliseconds    Bytes  UnitPrice
0       23     None        217732  3559040       0.99
1       23     None        230758  3766605       0.99
2       23     None        218916  3577821       0.99
3       23     None        228366  3728955       0.99
4       23     None        213831  3497176       0.99